# Virtual Environment
venv310/

# Trained Models
models/lstm_model.h5
models/scaler.pkl
models/rl_model.keras

# Backtest Results
# Ignore all stock data
Stock Data/

# Python Cache
__pycache__/
*.pyc